*{
    box-sizing: border-box;
}     
body{
            background-color: black;
            background-image: url();
            background-repeat: no-repeat;
            background-position: right;
            background-size:100% 180%;
            color:#666666;
            font-family: verdana, Arial, sans-serif;
        }
#wrapper{
            background-color:azure;
            min-width: 600px;
            max-width: 1024px;
            box-shadow: 5px 5px 5px #2E294E;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
.faqs {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url("../images/plus.png") no-repeat left center;
}
.faqs.minus {
    background: url("../images/minus.png") no-repeat left center;
}

h1{
    background-color: white;
    background-image: url("../images/H1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60% 100%;
    color: darkblue;
    font-family: georgia, serif;
    line-height: 200%;
    height: 150px;
    margin-bottom: 0;
    text-align: left;
    font-size: 3.5em;
    padding-left: 0.7em;
}
main{
    background-color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 500;
}
footer{
    background-color:wheat;
    color: black;
    font-size: 1em;
    text-align: center;
}
.bold{
    color: black;
    font-size: 1.0em;
    font-weight: bold;
    padding-left: 1.2em;
}
#map{
    height: 300px;
}
#map img{
    width: 100%;
    height: 100%;
    
}
#cals{
    height: 300px;
    background-image: url("../images/diet.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav li
{
    display:inline-block;
}
nav a{  
        padding-left:2.5em;
        margin: 2px;
        text-decoration: none;
    }
nav a:link{
    color:darkviolet;
}
nav a:visited{
    color:black;
}
nav a:hover{
    color:royalblue;
}

nav ul{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
}
h3{
    color: black;
    padding-left: 1.2em;
}

p{
    padding-left: 2em;
}

/* ---------------------------------   siva css start------------------------------------------------- */
#cborder1{
    position: static;
    /*float: left;*/
    border-style: solid;
    padding: 20px;
    height: 450px;
    width: 400px;
}
#cborder2{
    float :right;
    border-style: solid;
    padding: 20px;
    height: 450px;
    width: 400px;
    margin-top: -450px;
}
#wborder1{
    position: static;
    border-style: solid;
    margin-left: 25%;
    padding: 20px;
    height: 250px;
    width: 400px;
}
.ch3{
    text-align: center;
    margin-left: -40px;
}
.ch4{
    font-size: medium;
    margin-bottom: 5px;
    font-weight: 100;
    margin-left: 120px;
}
input.radio{
    display: inline;
    margin-left: 20px;
    padding-left: 40px;
}
.cbutton{
    
    margin-left: 100px;
    margin-bottom: 20px;
}
.wbutton{
    margin-top: 15px;
    margin-left: 80px;
    margin-bottom: 20px;
}
#calColour{
    background-color: aliceblue;
    margin-top: 20px;
}
select{
    margin-left: 20px;
}
#Weight{
    height: 300px;
    background-image: url("../images/weight.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* ---------------------------------siva css start------------------------------------------------- */

table {
    border: 1px solid;
        width: 100%; 
        border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
                    background-color: cadetblue; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold;
    text-align: center;
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    
}
td{
    color: black;
    text-align: left;
}
label{
    float: left;
    display: block;
    width: 8em;
    padding-right: 1em;
}
input, textarea{
    display: block;
    margin-bottom: 1em;
}
#mysubmit{
    margin-left: 10em;
}



@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
    
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
     h1{
        height: 100%;
        font-size: 1.5em;
        padding-left: 0.3em;
         text-align: left;
    }
     #wrapper{
        width: auto;
        min-width: 0;
        box-shadow: none;
    }
    nav{
        padding: 0;
    }
    nav a{
        display: block;
        padding: 0.2em;
        font-size: 1.1em;
        border-bottom: 5px;
        border-bottom-color:black;
        text-align: center;
    }
    nav ul{
        margin: 0;
        padding: 0;
    }
    nav li{
        display: block;
        margin: 0;
        padding: 0;
    }
    footer{
        margin: 0;
    }
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }tr { 
        border: 1px solid #ccc; 
    }
    td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
}